.header {
	position: relative;
	background-size: cover;
	background-image: url('../../img/backgrounds/header-bg.jpg');
	z-index: 9;
}

.header::after {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
	background-image: -o-linear-gradient(bottom, #fce38a, #f38181);
	background-image: linear-gradient(to top, #fce38a, #f38181);
	opacity: 0.9;
	z-index: 10;
}

.header-wrap {
	position: relative;
	height: 1000px;
	z-index: 11;
}

.header-nav,
.header-right,
.header-top {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header-nav,
.header-top {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header-logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 29px;
	color: #fff;
}

.header-top {
	position: relative;
	height: 80px;
}

.header-top input {
	display: none;
}

.header-top .menu-btn {
	position: absolute;
	display: block;
	right: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 30px;
	height: 23px;
	opacity: 0;
	visibility: hidden;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.header-top .menu-btn::before {
	position: absolute;
	content: "";
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.header-nav {
	-ms-flex-preferred-size: 495px;
	    flex-basis: 495px;
	height: 68px;
	margin-left: auto;
	margin-right: 50px;
	margin-top: 5px;
}

.header-nav a {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 41px;
	text-transform: uppercase;
	color: #fff;
}

.header-nav a:hover {
	color: #fce38a;
}

.header-nav a:before {
	position: absolute;
	content: '';
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 3px;
	opacity: 0;
	visibility: hidden;
	background-color: #fce38a;
}

.header-nav a:hover:before {
	opacity: 1;
	visibility: visible;
}

.header-right {
	width: 78px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
}

.header-right i {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #fff;
}

.header-right i:hover {
	-webkit-filter: drop-shadow(2px 2px 5px #fff);
	        filter: drop-shadow(2px 2px 5px #fff);
}

.header-right form .search-line {
	display: none;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.header-right form #search-btn:checked ~ .search-line {
	position: absolute;
	top: 60px;
	right: 0;
	width: 200px;
	height: 30px;
	outline: none;
	border: none;
	text-indent: 10px;
	border-radius: 5px;
	display: block;
	z-index: 10;
} 

.header-middle-slider {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 1200px;
}

.header-middle-slider input {
	display: none;
}

.header-middle-inner {
	overflow: hidden;
}

.header-middle-slides {
	width: 400%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Slides start */
.header-middle-slides .slides {
	width: 1200px;
	text-align: center;
}

.header-middle-slides .slides .promo p:nth-child(1) {
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	line-height: 86px;
	color: #fff;
	margin-top: 140px;
}

.header-middle-slides .slides .promo p:nth-child(2) {
	position: relative;
	max-width: 885px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 150px;
	line-height: 152px;
	color: #fff;
	margin: 27px auto 91px;
}

.header-middle-slides .slides .promo p:nth-child(2)::after {
	position: absolute;
	content: "";
	bottom: -40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 62px;
	height: 3px;
	background-color: #fff;
}

.header-middle-slides .slides .promo a {
	display: inline-block;
	width: 159px;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: 3px solid #fff;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #fff;
}

.header-middle-slides .slides .promo a:hover {
	background-color: #fff;
	color: #e88a83;
}
.header-middle-slides .slides .promo a:active {
	background-color: #e88a83;
	border-color: #e88a83; 
	color: #fff;
}

/* Slides end */

/* Slider controls start*/
.header-middle-controls {
	position: absolute;
	width: 100%;
	height: 68px;
	bottom: -226px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	z-index: 10;
}

.header-middle-controls label {
	position: relative;
	width: 285px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 74px;
	color: #fff;
}

.header-middle-controls label::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	background-color: #fff;
}

.header-middle-controls label .words {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	text-indent: 10px;
}

#middle-btn-1:checked ~ .header-middle-controls label:nth-child(1)::before,
#middle-btn-2:checked ~ .header-middle-controls label:nth-child(2)::before,
#middle-btn-3:checked ~ .header-middle-controls label:nth-child(3)::before,
#middle-btn-4:checked ~ .header-middle-controls label:nth-child(4)::before {
	background-image: -o-linear-gradient(left,#f38181 70px, #fff 70px, #fff);
	background-image: linear-gradient(to right,#f38181 70px, #fff 70px, #fff);
}

#middle-btn-1:checked ~ .header-middle-inner .header-middle-slides {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

#middle-btn-2:checked ~ .header-middle-inner .header-middle-slides {
	-webkit-transform: translateX(-1200px);
	    -ms-transform: translateX(-1200px);
	        transform: translateX(-1200px);
}

#middle-btn-3:checked ~ .header-middle-inner .header-middle-slides {
	-webkit-transform: translateX(-2400px);
	    -ms-transform: translateX(-2400px);
	        transform: translateX(-2400px);
}

#middle-btn-4:checked ~ .header-middle-inner .header-middle-slides {
	-webkit-transform: translateX(-3600px);
	    -ms-transform: translateX(-3600px);
	        transform: translateX(-3600px);
}


/* Slider controls end*/

@media (max-width: 1230px) {
	.header-middle-controls {
		width: 870px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.header-middle-controls label {
		width: 200px;
	}
}

@media (max-width: 900px) {
	.header-middle-controls {
		width: 600px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.header-middle-controls label {
		width: 120px;
		font-size: 18px;
		white-space: nowrap;
	}
	.header-middle-controls label .words {
		font-size: 12px;
	}
}

@media (max-width: 820px) {
	.header-wrap {
		height: 800px;
	}
	.header-middle-controls {
		bottom: -180px;
	}
	.header-top .menu-btn {
		opacity: 1;
		visibility: visible;
	}
	.header-top .header-nav {
		position: absolute;
		width: 120px;
		height: 220px;
		top: 60px;
		right: 20px;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		background-color: #e88883;	
		border-radius:  0 0 5px 5px;
	}
	#menu-btn:checked ~ .header-nav {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}

	.header-nav a:hover {
		width: 100%;
		text-align: center;
	}
	.header-nav a:hover:before {
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.header-middle-slides .slides .promo p:nth-child(1) {
		font-size: 50px;
		line-height: 54px;
	}
	.header-middle-slides .slides .promo p:nth-child(2) {
		font-size: 82px !important;
		line-height: 86px !important;
	}
}

@media (max-width: 650px) {
	.header-wrap {
		height: 650px;
	}
	.header-middle-slides .slides .promo p:nth-child(1) {
		width: 90vw;
		margin: 0 auto;
	}
	.header-middle-slides .slides .promo p:nth-child(2) {
		width: 90vw;
	}
}

@media (max-width: 620px) {
	.header-middle-controls {
		width: 460px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.header-middle-controls label {
		width: 100px;
	}
}



@media (max-width: 520px) {
	.header-wrap {
		height: 500px;
	}
	.header-middle-slides .slides .promo p:nth-child(2) {
		font-size: 50px !important;
		line-height: 48px !important;
	}
	.header-middle-controls {
		bottom: -100px;
	}
}

@media (max-width: 500px) {
	.header-middle-controls {
		width: 320px;
		height: 45px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.header-middle-controls label {
		width: 75px;
		line-height: 38px;
	}
	.header-middle-controls label .num {
		display: none;
	}
	.header-middle-controls label .words {
		width: 100%;
		text-align: center;
		text-indent: 0;
	}
	#middle-btn-1:checked ~ .header-middle-controls label:nth-child(1)::before,
	#middle-btn-2:checked ~ .header-middle-controls label:nth-child(2)::before,
	#middle-btn-3:checked ~ .header-middle-controls label:nth-child(3)::before,
	#middle-btn-4:checked ~ .header-middle-controls label:nth-child(4)::before {
		background-image: none;
		background-color: #f38181;
	}
}

@media (max-width: 420px) {
	.header-wrap {
		height: 430px;
	}
	.header-middle-controls {
		bottom: -100px;
	}
	.header-middle-slides .slides .promo p:nth-child(2)::after {
		display: none;
	}
	.header-middle-slides .slides .promo p:nth-child(2) {
		margin: 27px auto 30px;
	}
}

@media (max-width: 395px) {
	.header-wrap {
		height: 500px;
	}
	.header-middle-controls {
		bottom: -100px;
	}
	.header-middle-slides .slides .promo p:nth-child(2)::after {
		display: none;
	}
	.header-middle-slides .slides .promo p:nth-child(2) {
		margin: 27px auto 30px;
	}
}




