.story {
	padding-top: 91px;
}

.story-top {
	text-align: center;
}

.story-wrap {
	padding: 78px 0 110px;
}

.story-wrap p {
	text-align: center;
	margin-bottom: 96px;
	padding: 0 15px;
}

.story-blocks {
	position: relative;
	width: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.story-blocks .blocks {
	position: relative;
	width: 380px;
	height: 250px;
	top: 0;
	background-image: url('../../img/all_sprites.png');
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}

.story-blocks .block-1 {
	background-position: -1340px -1198px;
}

.story-blocks .block-2 {
	background-position: -540px -1190px;
}

.story-blocks .block-3 {
	background-position: -940px -1190px;
}

.story-blocks .blocks .team-image {
	position: absolute;
	width: 100%;
	height: 250px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 280px;
	opacity: 0;
	visibility: hidden;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 227, 138, 0.8)), to(rgba(243, 129, 129, 0.8)));
	background: -o-linear-gradient(rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
	background: linear-gradient(rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8));
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}

.story-blocks .blocks .team-image i {
	position: absolute;
	display: block;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-size: 22px;
}

.story-blocks .blocks .team-image span {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 21px;
}

.story-blocks .blocks:hover .team-image {
	opacity: 1;
	visibility: visible;
	-webkit-box-shadow: 10px 10px 0 0 #95e1d3;
	        box-shadow: 10px 10px 0 0 #95e1d3;
}  

.story-blocks .blocks:hover {
	top: -10px;
}

.story-bottom {
	background-color: #95e1d3;
}

.story-bottom-wrap {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #fff;
	text-align: center;
}

.story-bottom-wrap .b-blocks {
	position: relative;
	width: 239px;
	font-family: 'Montserrat', sans-serif;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500; 
	padding: 71px 0 88px;
}

.story-bottom-wrap .b-blocks p:nth-child(1) {
	font-size: 72px;
	font-weight: 700;
	line-height: 86px;
}

.story-bottom-wrap .block-5 {
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 740px) {
	.story {
		padding-top: 70px;
	}
	.story-wrap {
		padding: 78px 0 40px;
	}
	.story-bottom-wrap,
	.story-blocks {
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.story-bottom-wrap {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.story-blocks .blocks {
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		margin-bottom: 20px; 
	}
	.story-bottom-wrap .b-blocks {
		border-left: none;
		padding: 30px 0;
	}
	.story-bottom-wrap .block-5 {
		border-right: none;
	}
}

@media (max-width: 540px) {
	.story-bottom-wrap .b-blocks {
		width: 200px;
	}
	.story-bottom-wrap .b-blocks p:nth-child(1) {
		font-size: 40px;
		line-height: 44px;
	}
}



