.team {
	padding-top: 109px;
}

.team-top,
.team .center-p {
	text-align: center;
}

.team .center-p {
	max-width: 970px;
	margin: 77px auto 69px;
}

.team-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.team-wrap .blocks {
	text-align: center;
}

.team-wrap .blocks .team-image {
	width: 380px;
	height: 470px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('../../img/all_sprites.png');
}