.whatwedo {
	padding: 100px 0 110px;
}

.whatwedo-top,
.whatwedo .center-p {
	text-align: center;
}

.whatwedo .center-p {
	max-width: 970px;
	margin: 60px auto 90px;
}

.whatwedo-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.whatwedo-wrap .image {
  width: 595px;
  height: 397px;
  background-position: -896px 0;
  background-image: url('../../img/all_sprites.png');
}

.whatwedo-wrap #accordion {
	width: 600px;
}

.whatwedo-wrap #accordion .icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: -2247px -929px;
	background-image: url('../../img/all_sprites.png');
}

.whatwedo-wrap #accordion .icon-2 {
	background-position: -2198px -929px;
} 

.whatwedo-wrap #accordion .icon-3 {
	background-position: -2298px -930px;
} 

.whatwedo-wrap #accordion h3 {
	position: relative;
	height: 30px;
	margin-bottom: 10px;
	background-color: #fff;
}

.whatwedo-wrap #accordion h3 span {
	display: inline-block;
	height: 30px;
}

.whatwedo-wrap #accordion p {
	height: 30px;
}