.whatwedo {
	padding: 109px 0 110px;
}

.whatwedo-top,
.whatwedo .center-p {
	text-align: center;
}

.whatwedo .center-p {
	max-width: 970px;
	margin: 80px auto 65px;
}

.whatwedo-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.whatwedo .image {
	flex-basis: 49.5%;
	height: 397px;
	background-position: -890px 0;
	background-image: url('../../img/all_sprites.png');
	margin-right: 30px;
}

.whatwedo #accordion {
	flex-basis: calc(100% - 49.5% - 30px);
	margin-top: 20px;
}

.whatwedo #accordion h3 {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 58px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
	background-color: #fff;
	outline: none;
	box-shadow: inset 0 0 1px 1px #e5e5e5;
	margin-bottom: 10px;
}

.whatwedo #accordion .icon {
	width: 34px;
	height: 32px;
	background-position: -2248px -930px;
	background-image: url('../../img/all_sprites.png');
	margin-left: 17px;
}

.whatwedo #accordion .icon-2 {
	background-position: -2200px -930px;
} 

.whatwedo #accordion .icon-3 {
	width: 36px;
	height: 32px;
	background-position: -2298px -930px;
} 

.whatwedo #accordion h3 p {
	width: 100%;
	height: 50px;
	vertical-align: middle;
	line-height: 53px; 
	margin-left: 17px;
	color: #000;
}

.whatwedo #accordion .step-p {
	width: 88%;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 14px;
	line-height: 24px;
	padding: 5px 50px 20px 20px;
	box-shadow: inset 0 0 1px 1px #e5e5e5;
	color: #999999;
}

/* Slider */

.whatwedo-slider {
	position: relative;
}

.whatwedo-slider-slides {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	transition: all 1s ease;
}

.whatwedo-controls {
	max-width: 1155px;
}
/* Left arrow */
#wtd-btn-1:checked ~ .whatwedo-controls label:nth-child(3),
#wtd-btn-2:checked ~ .whatwedo-controls label:nth-child(1),
#wtd-btn-3:checked ~ .whatwedo-controls label:nth-child(2) {
	position: absolute;
	display: block;
	left: 0;
	width: 12px;
	height: 22px;
	background-image: url('../../img/arrow.png');
}

/* Right arrow */
#wtd-btn-1:checked ~ .whatwedo-controls label:nth-child(2),
#wtd-btn-2:checked ~ .whatwedo-controls label:nth-child(3),
#wtd-btn-3:checked ~ .whatwedo-controls label:nth-child(1) {
	position: absolute;
	display: block;
	right: 0;
	width: 12px;
	height: 22px;
	background-image: url('../../img/arrow.png');
	transform: scaleX(-1);
}