.whatwedo {
	padding: 100px 0 110px;
}

.whatwedo-top,
.whatwedo .center-p {
	text-align: center;
}

.whatwedo .center-p {
	max-width: 970px;
	margin: 0 auto;
}

.whatwedo-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.whatwedo .image {
	flex-basis: 49.5%;
	height: 397px;
	background-position: -890px 0;
	background-image: url('../../img/all_sprites.png');
	margin-right: 30px;
}

.whatwedo #accordion {
	flex-basis: calc(100% - 49.5% - 30px);
	margin-top: 20px;
}

.whatwedo #accordion h3 {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 58px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	outline: none;
}

.whatwedo #accordion .icon {
	width: 34px;
	height: 32px;
	background-position: -2248px -930px;
	background-image: url('../../img/all_sprites.png');
	margin-left: 17px;
}

.whatwedo #accordion .icon-2 {
	background-position: -2200px -930px;
} 

.whatwedo #accordion .icon-3 {
	width: 36px;
	height: 32px;
	background-position: -2298px -930px;
} 

.whatwedo #accordion h3 p {
	width: 100%;
	height: 50px;
	vertical-align: middle;
	line-height: 53px; 
	margin-left: 17px;
	color: #000;
}

.whatwedo #accordion .step-p {
	width: 88%;
	border: 1px solid #e5e5e5;
	margin: -1px 0 10px 0;
	padding: 15px 50px 20px 20px;
}

